body
{
	background-image: url("frd1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	background-size:100% 100%;
	margin:0;

}
.head
{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	
}
.header1
{
	background-color: white;
	color: darkviolet;
	font-size: 40px;
	font-family:'Marmelad';
	text-align: center;
	width: 40%;
	padding: 10px 25% 10px 0;
	float: left;
}

.header2
{
	background-color: white;
	color: darkviolet;
	font-size: 30px;
	font-family:'Marmelad'; 
	width: 30%;
	padding: 16px 5% 16px 0px;
	float: left;
	text-align: center;
}


.header2 a
{
	background-color: white;
	font-size: 25px;
	font-family:'Marmelad';
	text-decoration: none;
	color: darkviolet;
	
}


.middle
{

	width: 60%;
	margin: 200px auto;
	color:   darkviolet;
	background-color:white; 
	text-align: center;
	padding: 30px;
	border-radius: 10px;
	font-family: 'Marmelad';


}
.middle span
{
	font-size: 28px;
	color:green;
	margin-top: 10px auto;
}
.middle-one
{
	font-size: 28px;
}
.middle-two
{
	font-size: 23px;
}
.middle input
{
	font-family: 'Marmelad';
	font-size: 20px;
	margin: 5px auto;
}
.middle button
{
	padding: 5px 20px 5px 20px;
	margin: 10px auto;
	font-size: 30px;
	font-family: 'Marmelad';
	border-radius: 8px;
	border: none;
	color: white;
	background-color:    darkviolet;
}
.middle button:hover
{
	background-color:green;
	cursor: pointer;
	color: white;
	border: none;
}


.middle-que
{

	width: 40%;
	margin: 160px auto;
	background-color:white;
	padding: 20px 40px 20px 40px;
	border-radius: 10px;
	font-family: 'Marmelad';

}
.result p
{
	font-size: 20px;
}
.middle-que button
{
	
	padding:5px 15px 5px 15px;
	margin: 10px auto;
	font-size: 30px;
	font-family: 'Marmelad';
	border-radius: 10px;
	background-color: darkviolet;
	color: white;
	border: none;


}
.middle-que button:hover
{
	background-color: green;
	cursor: pointer;
	color: white;
	border: none;
}
.show-result
{
	width: 40%;
	margin: 300px auto;
	background-color:white;
	padding: 20px 40px 20px 40px;
	border-radius: 10px;
	font-family: 'Marmelad';

}
.show-result button
{
	
	padding:5px 15px 5px 15px;
	margin: 10px auto;
	font-size: 30px;
	font-family: 'Marmelad';
	border-radius: 10px;
	background-color: darkviolet;
	color: white;
	border: none;

}
.show-result button:hover
{
	background-color: green;
	cursor: pointer;
	color: white;
	border: none;
}.show-result
{
	width: 40%;
	margin: 300px auto;
	background-color:white;
	padding: 20px 40px 20px 40px;
	border-radius: 10px;
	font-family: 'Marmelad';

}
.show-result button
{
	
	padding:5px 15px 5px 15px;
	margin: 10px auto;
	font-size: 30px;
	font-family: 'Marmelad';
	border-radius: 10px;
	background-color: darkviolet;
	color: white;
	border: none;

}
.show-result button:hover
{
	background-color: green;
	cursor: pointer;
	color: white;
	border: none;
}
.rslt
{
	width: 40%;
	margin: 200px auto;
	background-color:white;
	padding: 20px 40px 20px 40px;
	border-radius: 10px;
	font-family: 'Marmelad';
	text-align: center;
	color: green;
	font-size: 30px;

}
.rslt button
{
	
	padding:5px 15px 5px 15px;
	margin: 10px auto;
	font-size: 30px;
	font-family: 'Marmelad';
	border-radius: 10px;
	background-color: darkviolet;
	color: white;
	border: none;

}
.rslt button:hover
{
	background-color: green;
	cursor: pointer;
	color: white;
	border: none;
}
.fa {
 
  font-size: 40px;
  width: 22px;
  padding:5px;
  margin: 14px 0px 15px 0px;
  text-align: center;
  text-decoration: none;
  border-radius: 12px;
 

}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.last .icon
{
	
	float: right;
}
.last
{
	font-size: 18px;
	position: fixed;
	right: 0px;
	left: 0px;
	bottom: 0px;
	background-color: white;
	color:    darkviolet;
	text-align: center;
	font-family: 'Marmelad';
}
.footer1
{
	background-color: white;
	width: 33.333333333%;
	float: left;
	
	text-align: center;
}
.footer2
{
	background-color: white;
	width: 33.33333333333%;
	float: left;
	
	text-align: center;

}
.footer3
{
	background-color: white;
	width: 33.333333333333%;
	float: left;
	text-align: center;
}
@media screen and (max-width:800px)
 {
  .footer1, .footer2, .footer3 ,.header1,.header2
  {
    width:100%;
    text-align: center;
    float: center;

  }
  .middle
  {
  	margin-top: 270px ;
  }
  .middle-que
  {
  	margin-top: 225px ;
  }
  .header1{
  	font-size: 30px;
  }
  .header2
  {
  	font-size: 10px;
  }
  .middle-one
  {
  	font-size: 24px;
  }
  .middle-two
  {
  	font-size: 18px;
  }

  .last
  {
  	font-size: 14px;
  }
  .middle input
{
	font-family: 'Marmelad';
	font-size: 16px;
}.middle button
{
	font-size: 25px;
}
  
 }